<!DOCTYPE html>

<script>
  function getChatInfo() {
    return {
      host: 'http://<%= host %>/<%= id %>',
      user: '<%= user %>',
      id: '<%= id %>',
    }
  }
</script>

<head>
  <% include header_files %>
  <script src="/socket.io/socket.io.js" type="text/javascript" ></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/chat.js" type="text/javascript"></script>
  <style src="/css/start_chat.css"></style>
</head>

<html>
    <% include navbar %>
    <div class="container-fluid max-height no-overflow">
      <h2>Welcome to <%= name %></h2>
    <% if(user === admin) { %> 
        <h5>You're the admin. Edit settings <a href="/chat/<%= id %>/settings">here.</a></h5>   
    <% } %>
        <div class="row-fluid max-height">
            <div id="user-container max-height" class="span3"><!--users-container-->
              <h4>Users:</h4>
              <div id="users" class="scrollable"></div>
            </div>

            <div class="span4 max-height"><!--conversation-container-->
              <h4>Conversation</h4>
                  <input type="text" id="data" value="" />
                  <input type="button" class="btn" id="datasend" value="send"/>
              <div id="conversation" class="scrollable"></div>
            </div>

            <div class="span4 max-height"><!--explanations-container-->
              <h4>Explanations</h4>
              <h6><i>Shows why you're censored</i></h6>
              <div id="explanation" class="scrollable" />
            </div>

        </div>
    </div>
<html>
